head {

	background: blue;
	font-family: Arial;
  
}

body {

	font-family: Arial;

}

h1 {

	font-family: Arial;

}

h3 {

	font-family: Arial;

}

p {

	font-family: Arial;

}

div {

	font-family: Arial;

}

table {

	background: blue;
	font-family: Arial;

}